<%= link_to 'Home', people_path %>

<h1> People </h1>
<% @people.each do |person| %>
  <h2><%= person.full_name %></h2>
  <p> <%= link_to "Show #{person.first_name}", person_path(person) %> </p>
  <p> <%= link_to "Edit #{person.first_name}", edit_person_path(person) %> </p>
  <p> <%= link_to "Delete", person, method: :delete %> </p>
  <% end %>
  <p><%= link_to "New Person", new_person_path %></p>

