<%= link_to 'Home', people_path %>

<h1>New People</h1>
<%= form_for @person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  </br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  </br>
  <%= f.label :hair_color %>
  <%= f.text_field :hair_color %>
  </br>
  <%= f.label :eye_color %>
  <%= f.text_field :eye_color %>
  </br>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  </br>
  <button><%= f.submit %></button>
  <% end %>

